@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster Two', cursive;
    color: rgb(255, 255, 255);
    text-shadow: black;
    
}
.header{
    text-align: center;
    background: linear-gradient(45deg,red,yellow);
    padding: 20px;

}
.weather-component{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 10px rgb(29, 47, 1);
    padding: 10px;
    background: linear-gradient(45deg,black,yellow);
}
.description{
    padding: 10px;
    border-left: 5px solid pink;
}